<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [3]:
# Carga el dataset de trabajo
netflix_concat= pd.read_csv("datos/netflix_concat.csv", index_col= 0)    #Contrl espacio para ver por donde voy

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [5]:
netflix_concat.head(2)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,s3624,Movie,Enter the Anime,Alex Burunova,"Kozo Morishita, Yoko Takahashi, Shinji Aramaki...","United States, Japan","August 5, 2019",2019,TV-MA,59 min,"Documentaries, International Movies",What is anime? Through deep-dives with notable...
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,s2105,Movie,Dark Forces,Bernardo Arellano,"Tenoch Huerta, Eréndira Ibarra, Dale Carley, A...",Mexico,"August 21, 2020",2020,TV-MA,81 min,"Horror Movies, Independent Movies, Internation...","In search of his sister, a renegade criminal s..."

In [235]:
filtro_lanzamiento= netflix_concat["type"] == "Movie"
filtro_release= netflix_concat["release_year"] == 2021
netflix_concat[filtro_lanzamiento & filtro_release].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
9,Sardar Ka Grandson,Comedy,"May 18, 2021",139,4.1,Hindi,s872,Movie,Sardar Ka Grandson,Kaashvie Nair,"Arjun Kapoor, Neena Gupta, Rakul Preet Singh, ...",India,"May 18, 2021",2021,TV-14,140 min,"Comedies, Dramas, International Movies",A devoted grandson’s mission to reunite his ai...
17,What Happened to Mr. Cha?,Comedy,"January 1, 2021",102,4.3,Korean,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,NaN,"Comedies, International Movies","With the peak of his career long behind him, a..."
21,The Girl on the Train,Thriller,"February 26, 2021",120,4.4,Hindi,s1266,Movie,The Girl on the Train,Ribhu Dasgupta,"Parineeti Chopra, Aditi Rao Hydari, Kirti Kulh...",India,"February 26, 2021",2021,TV-MA,120 min,"International Movies, Thrillers",A troubled divorcée fixates on a seemingly ide...

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [18]:
filtro_duración= netflix_concat["duration"] == 90
netflix_concat[filtro_duración]["title"]

Series([], Name: title, dtype: object)

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [19]:
filtro_año= netflix_concat["release_year"] > 2018
filtro_país= netflix_concat["country"] == "India"
netflix_concat[filtro_año & filtro_país]["title"]

4                         Kaali Khuhi
5                               Drive
9                  Sardar Ka Grandson
15                      Ghost Stories
21              The Girl on the Train
42                 Mrs. Serial Killer
65                          Firebrand
81     Gunjan Saxena: The Kargil Girl
92                             Guilty
104                      House Arrest
138                  Ginny Weds Sunny
151                         15 August
158           Choked: Paisa Bolta Hai
159                      Class of '83
186                             Maska
248                             Cargo
253                     Music Teacher
299                        Chopsticks
319                           Bulbbul
325                         Milestone
336                   Ajeeb Daastaans
355                          Upstarts
370                       Serious Men
377                          AK vs AK
385                          Pagglait
426                 Rooting for Roona
441                      The Disciple
456                    Raat Akeli Hai
485                              Ludo
492                        Yeh Ballet
Name: title, dtype: object

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [23]:
filtro_clasifiacion= ["TV-14", "R"]
netflix_concat[netflix_concat["rating"].isin(filtro_clasifiacion)].filter(items= ["title"])

                        title
4                 Kaali Khuhi
5                       Drive
9          Sardar Ka Grandson
11                    Whipped
16   The Last Thing He Wanted
..                        ...
498             A Secret Love
500            Marriage Story
501            The Ivory Game
506                Seaspiracy
508    Cuba and the Cameraman

[141 rows x 1 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos ha dirigido cada uno de los directores?

In [33]:
netflix_concat["director"].unique()

array(['Alex Burunova', 'Bernardo Arellano', 'Elisa Fuksas',
       'Matt Angel, Suzanne Coote', 'Terrie Samundra', 'Tarun Mansukhani',
       nan, 'Olivier Megaton', 'Daryl Hannah', 'Kaashvie Nair',
       'Lee Chung-hyun', 'Chandra Liow', 'Adrian Teh', 'Chris Sparling',
       'Rodrigo Reyes',
       'Anurag Kashyap, Dibakar Banerjee, Karan Johar, Zoya Akhtar',
       'Dee Rees', 'Kim Dong-kyu', 'Adam Wingard', 'Peter Sullivan',
       'Michael Tiddes', 'Ribhu Dasgupta', 'Ben Falcone',
       'Appie Boudellah, Aram van de Rest',
       'Katleho Ramaphakela, Rethabile Ramaphakela', 'Julien Royal',
       'Marco Risi', 'Nadia Hallgren', 'Osgood Perkins',
       'Elisabeth Vogler', 'Zak Hilditch', 'Stefano Mordini',
       'Stéphane de Freitas', 'Marla M. Ancheta', 'Jonathan Helpert',
       'Julien Leclercq', 'Akira Saitoh', 'Domenico de Feudis',
       'Robert Rodriguez', 'Detlev Buck', 'Emily Hagins',
       'Shirish Kunder', 'Bartosz M. Kowalski', 'Chester Tam',
       'Jay Karas', 'Frank Coraci', 'Cory Edwards', 'Leslie Small',
       'Santiago Alvarado Ilarri', 'César Rodrigues',
       'David M. Rosenthal', 'Lasja Fauzia Susatyo', 'Karl Mueller',
       'Filip Zylber', 'Jarand Herdal', 'Alistair Legrand',
       'Michael Dowse', 'Olivia Milch', 'Rizki Balki', 'Ahn Byoung-wook',
       'LP', 'Aruna Raje', 'Paween Purijitpanya',
       'Michael Paul Stephenson', 'Jeff Garlin', 'Steve Brill',
       'Alex Richanbach', 'McG', 'Steven Brill', 'Stefon Bristol',
       'Michèle Ohayon', 'Nzingha Stewart', 'Ludovico Di Martino',
       'Robert Smigel', 'John Schultz', 'Rémy Four, Julien War',
       'Michael M. Scott', 'Sharan Sharma', 'Alejandro Montiel',
       'Franck Ribière', 'Robert Pulcini, Shari Springer Berman',
       'Myriam Aziza', 'Jota Linares', 'Christopher Louie',
       'Rachel Talalay', 'Gabriela Tagliavini', 'Kyle Newacheck',
       'Ruchi Narain', 'Vincenzo Natali', 'Sylvie Verheyde',
       'Mikael Håfström', 'Mike Rohl', 'Younuts!', 'Sofia Coppola',
       'Tinge Krishnan', 'Mikhail Red', 'Pedro Antonio', 'Bassam Tariq',
       'Shashanka Ghosh, Samit Basu', 'Tom Stern', 'Dean Craig',
       'Duncan Jones', 'Alain Darborg', 'Ryuichi Hiroki',
       'Charles Stone III', 'Julius Onah', 'Monika Mitchell', 'Jody Hill',
       'Jake Szymanski', 'Brie Larson', 'Amy Poehler', 'Borja Cobeaga',
       'Qaushiq Mukherjee', "Cris D'Amato", 'Roger Kumble',
       'Jeremy Saulnier', 'Mark Steven Johnson', 'Ozan Açıktan',
       'Natasha Lyonne', 'Greg Pritikin', 'Rocco Ricciardulli',
       'George Clooney', 'Carles Torras', 'Trish Sie', 'Oz Rodriguez',
       'Fredrick Munk', 'Roman White', 'Massimiliano Camaiti',
       'Ernie Barbarash', 'Javier Colinas', 'David E. Talbert',
       'Ciarán Foy', 'Puneet Khanna', 'Kate Melville', 'Genevieve Nnaji',
       'Eli Craig', 'Manatsanun Phanlerdwongsakul',
       'John Hoffman, Nanfu Wang', 'Joe Lynch', 'Jakub Piątek',
       'Bradley Walsh', 'Joe Wright', 'Tyler Spindel', 'Dan Gilroy',
       'Swapnaneel Jayakar', 'Shaun Paul Piccinino', 'Alex Zamm',
       'Joe Robert Cole', 'Kenny Leon', 'Vikram Gandhi', 'Ben Shelton',
       'Anurag Kashyap', 'Atul Sabharwal', 'Ben Young', 'Jared Stern',
       'Donovan Marsh', 'Luke Snellin', 'Christopher Guest',
       'Martin Wood', 'Leena Yadav', 'Bruno Garotti', 'Cüneyt Kaya',
       'Spike Lee', 'Evan Katz', 'Ricky Gervais', "Federico D'Alessandro",
       'Ian Edelman', 'Vince Marcello', 'Chris Nelson', 'Ulrike Kofler',
       'Salvador Espinosa', 'Marja Lewis Ryan', 'Tyler Perry', 'Ryan Koo',
       'Zack Snyder', 'Daniel Goldhaber', 'Wash Westmoreland',
       'Jeff Baena', 'Neeraj Udhwani', 'Patrice Laliberté', 'Maya Forbes',
       'Ryan Murphy', 'Jeff Wadlow', 'Francesco Lettieri',
       'Joshua Marston', 'Antonio Morabito', 'Clark Johnson',
       'Henry Joost, Ariel Schulman', 'Ben Wheatley', 'Chris Columbus',
       'Michael Fimognari', 'David Michôd', 'Michael Bay',
       'Scott Aukerman', 'Gerard McMurray', 'Kitty Green',
       'Sydney Freeland', 'John Whitesell', 'Jill Bauer, Ronna Gradus',
       'Lauren Miller Rogen', 'Liz Garbus', 'John Lee', 'Olivier Marchal',
       'Greg Barker', 'Hanung Bramantyo, Pandu Adjisurya',
       'Marcelo Galvão', 'Michael Showalter', "Tommy O'Haver",
       'Richard Shepard', 'David Galán Galindo', 'Laura Terruso',
       'Stephen Chiodo', 'Letizia Lamartire', 'Lluís Quílez',
       'Kunle Afolayan', 'Sammaria Sari Simanjuntak', 'Steven Soderbergh',
       'Jim Mickle', 'Guillaume Pierret', 'Blair Simmons',
       'Fernando González Molina', 'Michael Larnell',
       'Jennifer Kaytin Robinson', 'Peter Berg', 'Nicole Holofcener',
       'Laura Brownson', 'Joe Swanberg', 'Trisha Ziff', 'Craig Johnson',
       'Gareth Evans', 'Brandon Camp', 'David Ayer', 'Arati Kadav',
       'Ricky Staub', 'Elissa Down', 'Vitor Brandt', 'Noviandra Santosa',
       'Sarthak Dasgupta', 'Daniel Vernon', 'Carlos Sorín',
       'Fernando Coimbra', 'Oren Uziel', 'Nic Mathieu',
       'Charlie McDowell', 'Sion Sono', 'Theo Love', 'Martin Zandvliet',
       'Yoon Sung-hyun', 'White Trash Tyler', 'Prentice Penny',
       'Franck Nataf', 'Tony Elliott', 'Otilia Portillo Padua',
       'Olivia Newman', 'Brad Anderson', 'Stephanie Laing',
       'Oliver Kienle', 'Monty Tiwa', 'David Sampliner',
       'Haifaa Al-Mansour', 'Glen Keane', 'Leïla Sy, Kery James',
       'Yance Ford', 'Alison Klayman', 'Charles Gozali, Bagus Bramanti',
       'Michael Barnett', 'Àlex Pastor, David Pastor', 'Kris Pearn',
       'J.C. Chandor', 'Álvaro Longoria, Gerardo Olivares', 'Conor Allyn',
       'Jeremy Rush', 'Ari Sandel', 'Everardo González', 'Brett Haley',
       'Takeru Nakajima, Yoshiyuki Okada', 'Frank E. Abney III',
       'Sachin Yardi', 'David Dobkin', 'Mike Flanagan', 'Remi Weekes',
       'John Haptas, Kristine Samuelson',
       'Zoya Akhtar, Karan Johar, Anurag Kashyap, Dibakar Banerjee',
       'Anthony Mandler', 'Andy Serkis', 'Gaspar Antillo',
       'Brian Knappenberger', 'Alexandre Aja', 'Claire Scanlon',
       'Jim Strouse', 'Alan Yang', 'Adam Leon', 'Susanne Bier',
       'Anvita Dutt', 'Dani de la Orden', 'Isabel Coixet', 'Justin Krook',
       'Charlie Kaufman', 'Billy Lyons', 'Ivan Ayr',
       'Elaine McMillion Sheldon', 'Brian Oakes', 'Grant Singer',
       'Jo Sung-hee', 'Bert Marcus', 'Ariel Vromen', 'Sebastián Schindel',
       'Gideon Raff', 'Ross Kauffman', 'Junichi Sato, Tomotaka Shibayama',
       'Shashank Khaitan, Raj Mehta, Neeraj Ghaywan, Kayoze Irani',
       'Ryan Crego', 'Eva Orner', 'Julio Quintana', 'Stanley Nelson',
       'Steven C. Miller', 'James D. Stern, Fernando Villena',
       'Ron Howard', 'Pailin Wedel', 'Malik Vitthal', 'Roberto Santucci',
       'Matt Kay', 'Sam Levinson', 'Park Hoon-jung', 'Can Ulkay',
       'Sian Heder', 'Gina Prince-Bythewood', 'Joe Berlinger',
       'Udai Singh Pawar', 'Paul Greengrass', 'Roger Gual', 'David Wain',
       'Francisco Macri', 'Sophia Nahli Allison', 'Dan Villegas',
       'Matt Palmer', 'Al Campbell, Alice Mathias', 'Florent Bodin',
       'Donick Cary', 'David Sington, Heather Walsh', 'Jacob Kornbluth',
       'Sudhir Mishra', 'Joe Mantello', 'Edoardo Ponti', 'Orson Welles',
       'Marti Noxon', 'Vikramaditya Motwane',
       'Rod Blackhurst, Brian McGinn', 'Emmett Malloy',
       'Arnon Manor, Timothy Ware-Hill', 'Macon Blair',
       'Lygia Barbosa da Silva, Eliane Brum', 'Ritesh Batra',
       'David Mackenzie', 'Umesh Bist',
       'Roberta Grossman, Sophie Sartain', 'Sam Rega', 'Sue Ding',
       'John Lee Hancock', 'Mike Diva, Akiva Schaffer', 'Noah Baumbach',
       'Johanna Demetrakas', 'Chris Moukarbel', 'Lucy Cohen',
       'Juan Carlos Rulfo', 'Tom Donahue', 'George C. Wolfe',
       'Sam Cullman', 'Stuart Sender', 'Josh Izenberg, Wynn Padula',
       'Joe Murray, Cosmo Segurson', 'Sydney Sibilia', 'Clay Kaytis',
       'Jeff Tremaine', 'Timo Tjahjanto', 'Damien O’Connor',
       'Chris Robinson', 'Rachel Mason', 'Oliver Bokelberg',
       'Rob Epstein, Jeffrey Friedman', 'Orlando von Einsiedel',
       'Cecilia Verheyden', 'Fab Five Freddie', 'Matías Gueilburt',
       'Joe Piscatella', 'Morgan Neville',
       'Sophie Robinson, Lotje Sodderland', 'Heidi Ewing, Rachel Grady',
       'Kornél Mundruczó', 'Derek Peck', 'Pavitra Chalam, Akshay Shankar',
       'Simon Stone', 'Karim Amer, Jehane Noujaim', 'Ramin Bahrani',
       'Jenny Popplewell', 'Bonni Cohen, Jon Shenk', 'Angelina Jolie',
       'Werner Herzog', 'Uraaz Bahl', 'Alex Lehmann', 'Tamara Jenkins',
       'Daniel Sánchez Arévalo', 'Priyadarshan', 'Chaitanya Tamhane',
       'Petra Costa', 'Richie Smyth', 'Floyd Russ', 'Craig Brewer',
       'Vince Gilligan', 'Dan Krauss', 'Leslye Davis, Catrin Einhorn',
       'Dylan Bank, Daniel DiMauro, Morgan Pehme',
       'Fernando Frías de la Parra', 'Cristina Costantini, Kareem Tabsch',
       'Bong Joon Ho', 'Alessio Cremonini', 'Honey Trehan',
       'Bent-Jorgen Perlmutt', 'Kelly Duane de la Vega', 'James Tovell',
       'Sharmeen Obaid-Chinoy', 'Kevin MacDonald', 'Jon Greenhalgh',
       'Joel Coen, Ethan Coen', 'David France', 'Rob Burnett',
       'Mike Fleiss', 'Steven Bognar, Julia Reichert',
       'Drea Cooper, Zackary Canepari', 'Jacob LaMendola', 'Lana Wilson',
       'Rayka Zehtabchi', 'Paul Dugdale', 'Sandi Tan', 'Reginald Hudlin',
       'Sue Kim', 'Kristina Goolsby, Ashley York', 'Madeleine Gavin',
       'Kirsten Johnson', 'Griffin Dunne', 'Anurag Basu',
       'Rashida Jones, Alan Hicks', 'Ed Perkins', 'Kirby Dick',
       'Jeff Orlowski', 'Fernando Meirelles', 'Sooni Taraporevala',
       'Cary Joji Fukunaga', 'Will McCormack, Michael Govier',
       'Martin Scorsese', 'Aaron Sorkin', 'Chris Bolan', 'Bryan Fogel',
       'Kief Davidson, Richard Ladkani', 'Pippa Ehrlich, James Reed',
       'Sergio Pablos', 'Ali Tabrizi', 'Carlos Pérez Osorio',
       'Jon Alpert', 'Huw Cordey', 'Evgeny Afineevsky', 'Thom Zimny',
       'Alastair Fothergill, Jonnie Hughes, Keith Scholey'], dtype=object)

In [38]:
netflix_concat["director"] == "Christopher Nolan"

0      False
1      False
2      False
3      False
4      False
       ...
508    False
509    False
510    False
511    False
512    False
Name: director, Length: 513, dtype: bool

In [119]:
lista_director= ["Christopher Nolan", "Martin Scorsese"]
titulos_chris_martin= netflix_concat[netflix_concat["director"].isin(lista_director)]
titulos_chris_martin.value_counts().sum()

np.int64(1)

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [58]:
netflix_concat["Language"].value_counts()

Language
English                       352
Hindi                          28
Spanish                        26
French                         18
Italian                        14
Portuguese                      9
Indonesian                      9
Japanese                        5
English/Spanish                 5
Korean                          5
Turkish                         4
German                          4
Marathi                         3
Polish                          3
English/Japanese                2
Dutch                           2
Filipino                        2
Thai                            2
English/Hindi                   2
Norwegian                       1
Malay                           1
Swedish                         1
Spanish/Basque                  1
English/Swedish                 1
Spanish/Catalan                 1
English/Taiwanese/Mandarin      1
Thia/English                    1
Bengali                         1
Khmer/English/French            1
Tamil                           1
Spanish/English                 1
English/Korean                  1
English/Arabic                  1
English/Mandarin                1
English/Russian                 1
English/Akan                    1
English/Ukranian/Russian        1
Name: count, dtype: int64

In [70]:
lista_paises= ["United States", "United Kingdom", "Canada"]
netflix_US_UK_CA= netflix_concat[netflix_concat["country"].isin(lista_paises)]
netflix_US_UK_CA.value_counts() #Para ver que veamos que titulos son de esos paises


patron_regex= "/"                                             
más_language= netflix_US_UK_CA["Language"].str.contains(patron_regex, case= False, na= False)     #El case = False hace que se budque research con minuscula y con mayuscula si se pone case= True solo dará las minusculas
netflix_US_UK_CA[más_language].value_counts().sum()  #Para que veamos cuantos de esos títulos tienen más de un lenguaje

np.int64(3)

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [54]:
filtro_rango_año= netflix_concat["release_year"].between(2015, 2020, inclusive= "both")
netflix_concat[filtro_rango_año].filter(items= ["title"])

                                           title
0                                Enter the Anime
1                                    Dark Forces
2                                        The App
3                                 The Open House
4                                    Kaali Khuhi
..                                           ...
508                       Cuba and the Cameraman
509                       Dancing with the Birds
510  Winter on Fire: Ukraine's Fight for Freedom
511                      Springsteen on Broadway
512     David Attenborough: A Life on Our Planet

[456 rows x 1 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [72]:
netflix_concat["IMDB Score"]

0      2.5
1      2.6
2      2.6
3      3.2
4      3.4
      ...
508    8.3
509    8.3
510    8.4
511    8.5
512    9.0
Name: IMDB Score, Length: 513, dtype: float64

In [234]:
filtro_IMDB= netflix_concat["IMDB Score"].between(6.5, 8, inclusive= "neither" )
filtro_duracion= netflix_concat["duration"].isna()
netflix_concat[filtro_IMDB & filtro_duracion].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
317,Bad Trip,Hidden-camera prank comedy,"March 26, 2021",86,6.6,English,s1158,Movie,Bad Trip,NaN,"Eric André, Lil Rel Howery, Tiffany Haddish, M...",United States,"March 26, 2021",2021,TV-MA,NaN,Comedies,"In this hidden-camera prank comedy, two best f..."
319,Bulbbul,Horror,"June 24, 2020",94,6.6,Hindi,s2343,Movie,Bulbbul,Anvita Dutt,"Tripti Dimri, Avinash Tiwary, Rahul Bose, Para...",India,"June 24, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies",A child bride grows up to be an enigmatic woma...
331,The Angel,Spy thriller,"September 14, 2018",114,6.6,English,s4642,Movie,The Angel,Ariel Vromen,"Marwan Kenzari, Hannah Ware, Toby Kebbell, Wal...","Israel, United States","September 14, 2018",2018,TV-MA,NaN,"Dramas, International Movies, Thrillers","As his country prepares for war, top Egyptian ..."

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 o 150 minutos?

In [233]:
patron_regex1= "^150" 
patron_regex2="^90"                                   
_noventa=netflix_concat["duration"].str.contains(patron_regex2, case= False, na= False, regex= True)
_cientocincuenta=netflix_concat["duration"].str.contains(patron_regex1, case= False, na= False, regex= True)
total= _cientocincuenta | _noventa
netflix_concat[total].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
23,Fatal Affair,Thriller,"July 16, 2020",89,4.5,English,s2233,Movie,Fatal Affair,Peter Sullivan,"Nia Long, Omar Epps, Stephen Bishop, Maya Stoj...",United States,"July 16, 2020",2020,TV-14,90 min,Thrillers,A lawyer is caught in a terrifying game of cat...
123,One-Way to Tomorrow,Romance,"June 19, 2020",90,5.6,Turkish,s2361,Movie,One-Way to Tomorrow,Ozan Açıktan,"Dilan Çiçek Deniz, Metin Akdülger",Turkey,"June 19, 2020",2020,TV-MA,90 min,"Dramas, International Movies, Romantic Movies",Two strangers cross paths on a train en route ...
139,Good Sam,Drama,"May 16, 2019",89,5.7,English,s3819,Movie,Good Sam,Kate Melville,"Tiya Sircar, Chad Connell, Marco Grazzini, Jes...",United States,"May 16, 2019",2019,TV-PG,90 min,"Children & Family Movies, Dramas",A curious reporter finds love while pursuing t...

In [114]:
_noventa.sum()

np.int64(13)

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [232]:

patron_regex= "Love"                                             
_love=netflix_concat["title"].str.contains(patron_regex, case= False, na= False)
netflix_concat[_love].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
53,Love Like the Falling Rain,Drama,"October 15, 2020",86,5.0,Indonesian,s1851,Movie,Love Like the Falling Rain,Lasja Fauzia Susatyo,"Jefri Nichol, Aurora Ribero, Axel Matthew, Nad...",Indonesia,"October 15, 2020",2020,TV-14,NaN,"Dramas, International Movies, Romantic Movies","Fearing rejection, a young man struggles to de..."
55,Squared Love,Romantic comedy,"February 11, 2021",102,5.0,Polish,s1327,Movie,Squared Love,Filip Zylber,"Adrianna Chlebicka, Mateusz Banasiuk, Agnieszk...",Poland,"February 11, 2021",2021,TV-14,NaN,"Comedies, International Movies, Romantic Movies",A celebrity journalist and renowned womanizer ...
106,Love Wedding Repeat,Romantic comedy,"April 10, 2020",100,5.5,English,s2694,Movie,Love Wedding Repeat,Dean Craig,"Sam Claflin, Olivia Munn, Freida Pinto, Eleano...","United Kingdom, Italy","April 10, 2020",2020,TV-MA,NaN,"Comedies, International Movies, Romantic Movies",Different versions of the same day unfold as J...

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [231]:

patron_regex= "Johnson"                                             
apellido=netflix_concat["director"].str.contains(patron_regex, case= False, na= False)
netflix_concat[apellido].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
122,"Love, Guaranteed",Romantic comedy,"September 3, 2020",91,5.6,English,s2053,Movie,"Love, Guaranteed",Mark Steven Johnson,"Rachael Leigh Cook, Damon Wayans Jr., Heather ...",United States,"September 3, 2020",2020,TV-PG,NaN,"Comedies, Independent Movies, Romantic Movies",Sparks fly when a crusading but cash-strapped ...
195,Juanita,Drama,"March 8, 2019",90,6.0,English,s4034,Movie,Juanita,Clark Johnson,"Alfre Woodard, Adam Beach, LaTanya Richardson ...",United States,"March 8, 2019",2019,TV-MA,90 min,"Dramas, Independent Movies, Romantic Movies","Burdened by troubles in life and love, a mothe..."
244,Alex Strangelove,Romantic comedy,"June 8, 2018",99,6.3,English,s4834,Movie,Alex Strangelove,Craig Johnson,"Daniel Doheny, Madeline Weinstein, Antonio Mar...",United States,"June 8, 2018",2018,TV-MA,NaN,"Comedies, Dramas, Independent Movies",High school senior Alex Truelove's plan to los...

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [131]:
filtro_cast= netflix_concat["cast"] == "Mike Tyson"
filtro_genre= netflix_concat["Genre"] == "Documentary"    #Creo que el código no está mal simplemnete es cosa de mi base de datos q no tenga mike
netflix_concat[filtro_cast & filtro_genre]

Empty DataFrame
Columns: [Title, Genre, Premiere, Runtime, IMDB Score, Language, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [138]:
filtro_genre.sum()

np.int64(132)

In [139]:
filtro_cast.sum()

np.int64(0)

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [144]:
netflix_concat[["title", "country", "release_year"]]

,title,country,release_year
0,Enter the Anime,"United States, Japan",2019
1,Dark Forces,Mexico,2020
2,The App,Italy,2019
3,The Open House,"Canada, United States",2018
4,Kaali Khuhi,India,2020
...,...,...,...
508,Cuba and the Cameraman,United States,2017
509,Dancing with the Birds,United States,2019
510,Winter on Fire: Ukraine's Fight for Freedom,"United Kingdom, Ukraine, United States",2015
511,Springsteen on Broadway,United States,2018
512,David Attenborough: A Life on Our Planet,"United States, United Kingdom",2020

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [ ]:
netflix_concat.str.contains(patron_regex, case= False, )
patron_regex= "date"                                             
apellido=netflix_concat["director"].str.contains(patron_regex, case= False, na= False)
netflix_concat[apellido]

In [150]:
netflix_concat.filter(like = "date")

            date_added
0       August 5, 2019
1      August 21, 2020
2    December 26, 2019
3     January 19, 2018
4     October 30, 2020
..                 ...
508  November 24, 2017
509   October 23, 2019
510    October 9, 2015
511  December 16, 2018
512    October 4, 2020

[513 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [167]:
netflix_concat.columns

Index(['Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language',
       'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [173]:
netflix_concat_query= netflix_concat.query("country == 'France' and duration == '80 min'")[["title"]]             
netflix_concat_query.head()

Empty DataFrame
Columns: [title]
Index: []

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [179]:
filtro_type= netflix_concat["type"] == "Movie"          #El código creo que está bien porque si pongo por ejemplo 2015 si que me sale
filtro_ryear= netflix_concat["release_year"] < 2010
netflix_concat[filtro_type & filtro_ryear]

Empty DataFrame
Columns: [Title, Genre, Premiere, Runtime, IMDB Score, Language, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [195]:
netflix_ordenado= netflix_concat["IMDB Score"].sort_values(axis= 0, ascending= True)
netflix_ordenado[-10:]

502    8.1
504    8.1
507    8.2
506    8.2
505    8.2
509    8.3
508    8.3
510    8.4
511    8.5
512    9.0
Name: IMDB Score, dtype: float64

In [204]:
netflix_concat.nlargest(10, columns= "IMDB Score").filter(items= ["title"])

                                           title
512     David Attenborough: A Life on Our Planet
511                      Springsteen on Broadway
510  Winter on Fire: Ukraine's Fight for Freedom
508                       Cuba and the Cameraman
509                       Dancing with the Birds
505                                        Klaus
506                                   Seaspiracy
507        The Three Deaths of Marisela Escobedo
502                                Chasing Coral
503                           My Octopus Teacher

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [210]:
netflix_concat.nsmallest(5, columns= "IMDB Score")["title"]

0    Enter the Anime
1        Dark Forces
2            The App
3     The Open House
4        Kaali Khuhi
Name: title, dtype: object

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [212]:
sin_director= netflix_concat["director"].isna()
netflix_concat[sin_director]["title"]

6                                      Leyla Everlasting
62      American Factory: A Conversation with the Obamas
64                                    Father of the Year
188                         The Minimalists: Less Is Now
201                                  The Princess Switch
214                                            Otherhood
218                                          Stuck Apart
256                                                Polar
276                    John Was Trying to Contact Aliens
278             Murder to Mercy: The Cyntoia Brown Story
297            Antoine Griezmann: The Making of a Legend
301                    Dolly Parton: A MusiCares Tribute
317                                             Bad Trip
372             The Boys in the Band: Something Personal
398    Ma Rainey's Black Bottom: A Legacy Brought to ...
413                              Derren Brown: Sacrifice
434                                         LA Originals
475                        The Irishman: In Conversation
480                       Invader Zim: Enter the Florpus
482                                        Reversing Roe
494                   Crip Camp: A Disability Revolution
504                                       Rising Phoenix
Name: title, dtype: object

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [230]:
titlenotnull= netflix_concat["title"].notnull()
countrynotnull= netflix_concat["country"].notnull()
IMDBnotnull= netflix_concat["IMDB Score"].notnull()
netflix_concat[titlenotnull & countrynotnull & IMDBnotnull].head(3)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,s3624,Movie,Enter the Anime,Alex Burunova,"Kozo Morishita, Yoko Takahashi, Shinji Aramaki...","United States, Japan","August 5, 2019",2019,TV-MA,59 min,"Documentaries, International Movies",What is anime? Through deep-dives with notable...
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,s2105,Movie,Dark Forces,Bernardo Arellano,"Tenoch Huerta, Eréndira Ibarra, Dale Carley, A...",Mexico,"August 21, 2020",2020,TV-MA,81 min,"Horror Movies, Independent Movies, Internation...","In search of his sister, a renegade criminal s..."
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,s3095,Movie,The App,Elisa Fuksas,"Vincenzo Crea, Jessica Cressy, Greta Scarano, ...",Italy,"December 26, 2019",2019,TV-MA,79 min,"Dramas, Independent Movies, International Movies","While in Rome to shoot his first movie, actor ..."

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [220]:
duplicados= netflix_concat["title"].duplicated()
duplicados.sum()                               #No

np.int64(0)